* {
  margin: 0;
  padding: 0;
}

a, a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

a.text-link {
  color: #4C89C3;
  transition-duration: color;
}

a.text-link:hover, a.text-link:active {
  color: #4990E2;  
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

body {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: .08em;
  color: #4A4A4A;
}

button:focus {
  outline: none;
}

.app-header {
  width: 100%;
  background-color: #DFDFDF;
}

.app-header__inner {
  width: 960px;
  height: 60px;
  padding: 0 32px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.app-wrapper {
  width: 960px;
  min-height: calc(100vh - 290px);
  padding: 60px 32px 30px;
  margin: 0 auto;
  background-color: #FFF;
}

.footer {
  background-color: #F6F6F6;
  margin-top: 30px;
  min-width: 1024px;
}

.footer__inner {
  width: 960px;
  padding: 0 32px;
  margin: 0 auto;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__inner__body {
  color: #9B9B9B;
}
