
.input {
  margin-bottom: 15px;
}

.consoleBox {
  margin: 15px 0;
  word-break: break-all;
  white-space: pre-wrap;
  border-radius: 3px;
  background-color: #191919;
  padding: 15px 30px;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 1.4em;
  color: #4990E2;
}
