.root {
  display: flex;
  height: 60px;
  padding: 10px 0;
  align-items: center;
  transition-property: background-color;
  transition-duration: .2s;
  border-top: 1px solid #F6F6F6;
}

.root:last-child {
  border-bottom: 1px solid #F6F6F6;
}

.root:hover {
  background-color: #F5FAFF;
}

.avatar {
  margin-left: 15px;
  width: 30px;
  height: 30px;
}

.loginName {
  margin-left: 45px;
  flex-basis: 120px;
}

.main {
  margin-left: 45px;
  flex: auto;
}
