.root {
  height: 30px;
  border: 1px solid #D5E8FA;
  border-radius: 15px;
  min-width: 225px;
  line-height: 30px;
  color: #4C89C3;
  text-align: center;
  font-family: "Lato";
  font-weight: 300;
  background-color: #FFF;
  cursor: pointer;
  transition-property: border-color, color, background-color;
  transition-duration: .2s;
}

.root:hover {
  border-color: #4990E2;
  background-color: #4990E2;
  color: #FFF;
}

.root:active {
  border-color: #4990E2;
  background-color: #4C89C3;
  color: #FFF;
}
