// Colors
$color-blue-light: #D5E8FA;
$color-blue-midium: #4990E2;
$color-blue-dark: #4C89C3;

$font-color-body: #4A4A4A;
$font-color-sub: #9B9B9B;
$font-color-link: $color-blue-dark;


// Gutter
$gutter-unit: 15px;
$gutter-small:  $gutter-unit * 1;
$gutter-midium: $gutter-unit * 2;
$gutter-large:  $gutter-unit * 3;
$gutter-xlarge: $gutter-unit * 4;

// Layout
$body-width-inner: 960px;
$side-padding: 32px;
$body-width-outer: $body-width-inner + $side-padding * 2;
