@import "./_variables";

// reset

* {
  margin: 0;
  padding: 0;
}

a, a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

body {
  font-family: 'Lato', sans-serif;
  color: $font-color-body;
}

// grid

.grid {
  display: flex;
  &__col--2 {
    margin: 0 11px;
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
    flex: 0 1 16.6666666666666%;
  }
  &__col--3 {
    margin: 0 11px;
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
    flex: 0 1 25%;
  }
  &__col--4 {
    margin: 0 11px;
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
    flex: 0 1 33.3333333333333%;
  }
  &__col--6 {
    margin: 0 11px;
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
    flex: 0 1 50%;
  }
  &__col--8 {
    margin: 0 11px;
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
    flex: 0 1 66.6666666666666%;
  }
}

.heading-2 {
  text-align: center;
  color: #4A4A4A;
  font-size: 36px;
}

.heading-3 {
  margin-top: 45px;
  color: #9B9B9B;
  font-size: 18px;
  &--center {
    width: 100%;
    text-align: center;
  }
}

.description {
  margin-top: 30px;
  line-height: 22px;
  a:link {
    transition-property: color;
    border-bottom: 1px solid #FAFAFA;
  }
  a:hover {
    color: #4C89C3;
    transition-duration: .2s;
  }
}

.sep {
  margin: 60px auto 0;
  padding: 32px;
  width: 960px;
  &::before {
    content: "";
    display: block;
    height: 0;
    width: 100%;
    border-bottom: 1px solid #DFDFDF;
  }
}

.app-win {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 15px 3px rgba(155, 155, 155, .6);
  &__header {
    background-color: #F6F6F6;
    height: 20px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    &__close {
      &:not(:first-child) {
        margin-left: 5px;
      }
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: #DDDDDD;
    }
  }
  &__body {
    background-color: #FFF;
  }
}

@media(max-width: 1367px) {
  .main-bg {
    background-image: url('../assets/top_bg.jpg');
    background-size: auto auto;
    background-position: center top;
    background-repeat: no-repeat;
  }
}

@media(min-width: 1366px) {
  .main-bg {
    background-image: url('../assets/top_bg.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
}

@mixin base-wrapper {
  width: 960px;
  padding: 0 32px;
  margin: 0 auto;
}

.key-visual {
  min-width: 1024px;
  height: 720px;
  display: flex;
  flex-direction: column;
  &__header {
    flex: 0 0 80px;
    background-color: rgba(33, 33, 33, .6);
    &__inner {
      @include base-wrapper;
      display: flex;
      height: 80px;
      align-items: center;
      color: #FFF;
      > *:first-child {
        flex: auto;
      }
      .fa {
        font-size: 2em;
      }
    }
  }
  &__body {
    flex: auto;
    background-color: rgba(255, 255, 255, .82);
    text-align: center;
    &__title {
      margin: 100px 0;
    }
    &__inner {
      @include base-wrapper;
    }
  }
}

.points {
  @include base-wrapper;
  &__header {
    margin-top: 60px;
  }
}

.getting-started {
  @include base-wrapper;
  &__header {
    margin-top: 60px;
  }
}

.console {
  background-color: #191919;
  padding: 20px;
  padding-left: calc(1.5em + 20px);
  &__line {
    position: relative;
    &--main {
      &::before {
        position: absolute;
        display: block;
        content: "$";
        left: -1.5em;
      }
      color: #4990E2;
    }
    font-size: 18px;
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 2em;
    
  }
}

.features {
  @include base-wrapper;
  &__header {
    margin-top: 60px;
  }
  &__body {
    &__img {
      margin-top: 30px;
      text-align: center;
    }
  }
}

.share-buttons {
  @include base-wrapper;
}

.footer {
  background-color: #E7E7E7;
  margin-top: 60px;
  min-width: 1024px;
  &__inner {
    @include base-wrapper;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__body {
      color: #9B9B9B;
    }
  }
}
